{% extends "admin/change_list.html" %}

{% block object-tools %}
  <div style="margin-bottom: 0px; display: flex; gap: 10px; flex-wrap: wrap;">

    <!-- NÚT NHẬP TỒN KHO -->
    <a href="/nhap-ton-kho/" class="button" style="background:#07944a !important; color:white !important; padding:8px 16px; border-radius:4px; text-decoration:none; font-weight:bold;">
      Nhập tồn kho
    </a>
    <!-- NÚT ĐẶT ĐƠN HÀNG NCC -->
    <a href="/datdonhang/" class="button button-success" style="background:#07944a !important; color:white !important; padding:8px 16px; border-radius:4px; text-decoration:none; font-weight:bold;">
      Đặt đơn hàng NCC
    </a>
  </div>

  {{ block.super }}
{% endblock %}