{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section">
    <img src="{% static 'assets/img/backgroup.jpg' %}" alt="" data-aos="fade-in">
    <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2>Ume Coffee</h2>
          <p>Chào Mừng Bạn Đến Với Ume-Coffee Mời Các Bạn Bấm Vào Nút Để Xem Danh Sách Sản Phẩm</p>
          <a href="{% url 'portfolio' %}?table_id={{ table.id }}" class="btn-get-started"> Xem Danh Muc Sản Phẩm</a>
        </div>
      </div>
    </div>
  </section><!-- /Hero Section -->
</main>
{% endblock %}
